<%- include('partials/header') %>
<div class="container">
    <h1 class="text-center my-5">About Us</h1>
    <p class="text-center">Learn more about our aquarium and our mission to protect aquatic life.</p>
</div>
<%- include('partials/footer') %>
