<%- include('partials/header') %>
<div class="container">
    <h1 class="text-center my-5">Your Cart</h1>
    <p class="text-center">Items you have added to your cart will appear here.</p>
</div>
<%- include('partials/footer') %>
